        <section class="about-patrick" id="about">
                    <h1 class="about"> &lt;<b>ABOUT_ME</b>&gt; </h1>
            <div class="sub-container">
                <div class="column">
                        <div class="image-container">
                            <img src="PNG/mev1.jpg" alt="Profile Image">
                        </div>
                    <div class="dots-container">
                            <div id="dots">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                    </div>
                    <div class="intro-section">
                        <h1 class="intro-greeting">👋 Hey, I'm <span class="color-changing">Patrick</span></h1>
                        <p class="intro-text">I like building things, learning things, securing things.<br class="mobile-break"> Check out what I'm working on below.</p>
                        <p class="intro-text"><span class="lovely-text">I ALWAYS TRY MY BEST TO DO & CREATING THINGS WITH <span class="heart-pulse">❤️</span></span></p>
                    </div>
                    <div class="center" style="margin-top: 50px;">
                        <img src="PNG/cat.gif" alt="Cat explosion GIF" class="gif-cat">
                    </div>
                </div>
                </div>
                <h1 class="about"> &lt;<b>/ABOUT_ME</b>&gt; </h1>
