        <h1 class="about" id="contact"> &lt;<b>CONTACT</b>&gt; </h1>
    <div class="body-content">
        <div class="contact">
            <div class="column">
                <div class="image-contact">
                <br>
                <img src="PNG/telephone.gif" alt="Image description" class="my-gif-telephone">
                </div>
                <div class="contact-info">
                    <h1 class="classic">Let's Connect!</h1>

                    <!-- Social Media Grid -->
                    <div class="social-grid">
                        <a href="mailto:johnpatrickhaguimit@gmail.com" class="social-card email">
                            <div class="social-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="social-content">
                                <h4>Email</h4>
                                <p>johnpatrickhaguimit@gmail.com</p>
                            </div>
                        </a>

                        <a href="https://www.linkedin.com/in/john-patrick-haguimit//" target="_blank" class="social-card linkedin">
                            <div class="social-icon">
                                <i class="fab fa-linkedin"></i>
                            </div>
                            <div class="social-content">
                                <h4>LinkedIn</h4>
                                <p>Professional Network</p>
                            </div>
                        </a>

                        <a href="https://github.com/johnpatrick-it" target="_blank" class="social-card github">
                            <div class="social-icon">
                                <i class="fab fa-github"></i>
                            </div>
                            <div class="social-content">
                                <h4>GitHub</h4>
                                <p>Code Portfolio</p>
                            </div>
                        </a>

                        <!--<a href="https://www.facebook.com/SussyBakkaAt3AM" target="_blank" class="social-card facebook">
                            <div class="social-icon">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="social-content">
                                <h4>Facebook</h4>
                                <p>Personal Updates</p>
                            </div>
                        </a>-->

                        <!--<a href="#" onclick="downloadResume(); return false;" class="social-card resume">
                            <div class="social-icon">
                                <i class="fas fa-download"></i>
                            </div>
                            <div class="social-content">
                                <h4>Resume</h4>
                                <p>Download PDF</p>
                            </div>
                        </a>-->
                    </div>

                    <div class="contact-footer">
                        <p class="contact-tagline">
                            <i class="fi fi-br-heart"></i>
                            Death To Quirino Highway!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="about"> &lt;<b>/CONTACT</b>&gt; </h1> 
