    <header>
        <div class="name-container">
            <b>&lt;john_patrick_haguimit&gt;</b>
        </div>
        <nav class="nav-links">
            <a href="#about" class="nav-link">&lt;About Me&gt;</a>
            <a href="#projects" class="nav-link">&lt;Projects&gt;</a>
            <a href="#skills" class="nav-link">&lt;Skills&gt;</a>
        </nav>
        <div class="button-container">
            <a href="#contact" class="button contact-button">
                Contact Me
            </a>
            <button class="button dark-mode-button">
                <i data-feather="moon"></i>
            </button>
        </div>
    </header>
