    <header>
        <div class="name-container">
            <b>&lt;john_patrick_haguimit&gt;</b>
        </div>
        <nav class="nav-links">
            <a href="#about" class="nav-link">&lt;About Me&gt;</a>
            <a href="#skills" class="nav-link">&lt;Skills&gt;</a>
            <a href="#projects" class="nav-link">&lt;Projects&gt;</a>
        </nav>
        <div class="social-icons-container">
            <!--<a href="https://www.facebook.com/SussyBakkaAt3AM" target="_blank" class="social-button">
                <i class="fi fi-brands-facebook"></i>
            </a>-->
            <a href="" target="_blank" class="social-button">
                <i class="fi fi-br-link-alt"></i>
            </a>
            <a href="https://www.linkedin.com/in/haguimit-john-patrick-m-58197120b/" target="_blank" class="social-button">
                <i class="fi fi-brands-linkedin"></i>
            </a>
            <a href="https://github.com/johnpatrick-it" target="_blank" class="social-button">
                <i class="fi fi-brands-github"></i>
            </a>
            <!--<a href="#" onclick="downloadResume(); return false;" class="social-button">
                <i class="fi fi-br-download"></i>
            </a>-->
        </div>
        <div class="button-container">
            <a href="#contact" class="button contact-button">
                Contact Me
            </a>
            <button class="button dark-mode-button">
                <i data-feather="moon"></i>
            </button>
        </div>
    </header>
