<div class="mantra">
    <h1></h1>
    <br>
    <br>
    <br>
    <br>
    <h2 class="process2">&lt;TRUST_THE_PROCESS&gt;</h2>
    <h3 class="process3">&lt;TRUST_THE_PROCESS&gt;</h3>
    <h4 class="process4">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h4 fade-out">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h42 fade-out2">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h43 fade-out3">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h44 fade-out4">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h45 fade-out5">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h46 fade-out6">&lt;TRUST_THE_PROCESS&gt;</h4>
</div>
<div class="mantra">
    <h4 class="fade-h46 fade-out6">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h45 fade-out5">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h44 fade-out4">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h43 fade-out3">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h42 fade-out2">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="fade-h4 fade-out">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h4 class="process4">&lt;TRUST_THE_PROCESS&gt;</h4>
    <h3 class="process3">&lt;TRUST_THE_PROCESS&gt;</h3>
    <h2 class="process2">&lt;TRUST_THE_PROCESS&gt;</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
